/*tabs
from http://www.webhostingtalk.com/showthread.php?t=1045871*/
#Tabs ul {
	padding: 0px;
	margin: 0px;
	margin-left: 10px;
	list-style-type: none;
}

#Tabs ul li {
	display: inline-block;
	clear: none;
	float: left;
	color: white;
}

.tab {
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 13pt;
	position: relative;
	display: block;
	margin-left: 6px;
	padding: 10px;
	background: rgb(94, 247, 196);
	z-index: 99;
	width: 130px;
	text-decoration: none;


	/* The following four lines are to make the top left and top right corners of each tab rounded. */
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	/* end of rounded borders */

}

/*cursor and text decoration*/
.tab:hover {
	text-decoration: underline;
	cursor: pointer;
}
/*end decoration*/

#Tabs #Content_Area { /*this is the css class for the content displayed in each tab*/
	padding: 0 15px;
	clear:both;
	overflow:hidden;
	line-height:19px;
	position: relative;
	z-index: 5;
	overflow: hidden;
	background: rgb(81, 121, 53);
}